body {
	color: var(--textColor);
	background-color: var(--backgroundColor);
	padding-right: var(--scrollbarComp);
	overflow-x: hidden;
	line-height: 1.5;
	scroll-behavior: smooth;
	font-size: var(--fluid-0);
}
