button,
.button {
	background-color: var(--primaryColor);
	color: #fff;

	display: inline-flex;
	align-items: center;

	padding: 1rem 1.5rem;
	border-radius: 0.25rem;
	font-size: var(--fluid-0);
	line-height: 1rem;
	font-weight: 400;
	text-transform: none;
	white-space: nowrap;
	text-decoration: none;
	text-transform: uppercase;
	&--mini {
		padding: 0.5rem 0.5rem;
		font-size: var(--fluid-0);
	}
	&:hover {
		background-color: var(--focusColor);
		text-decoration: none;
		color: #fff;
	}
}
