h1,
h2,
h3 {
	font-family: var(--fontFamilyHeading);
	letter-spacing: 0.03em;
	text-align: center;
}

h1 {
	font-size: var(--fluid-2);
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

h2 {
	font-size: var(--fluid-1);
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: var(--fluid-1);
	margin-bottom: 1rem;
}
