<footer class="site-footer" role="contentinfo" id="contact">
    <section class="site-footer__inner container container--constrained">
        <h1>Get in touch</h1>
        <div class="footer-contacts">
            <div class="footer-contacts__item">
                <h3 class="footer-contacts__title">Booking</h3>
                For booking enquiries, please contact:
                <a href="mailto:pete@petelambertmusic.com">pete@petelambertmusic.com</a>
            </div>
            <div class="footer-contacts__item">
                <h3 class="footer-contacts__title">Media</h3>
                For media enquiries, please contact:
                <a href="mailto:pete@petelambertmusic.com">pete@petelambertmusic.com</a>
            </div>
            <div class="footer-contacts__item">
                <h3 class="footer-contacts__title">Hugs</h3>
                For moral support, please contact:
                <a href="mailto:pete@petelambertmusic.com">pete@whiskeysadnessheartbreak.com</a>
            </div>
        </div>

        <div class="container">
            <div class="container__content mailing-list">
                <a href="https://petelambertmusic.substack.com/" class="button">Join the mailing list</a>
            </div>

        <div class="container">
            <div class="container__content">
                {% include 'social-icons.njk' %}
            </div>
        </div>
        <p class="site-footer__copyright">&copy;{{ build.timestamp | dateToFormat('yyyy') }} Pete Lambert</p>
        
    </section>
</footer>
