<header class="site-header" role="banner">
    <div class="site-header__container">
        <div class="site-header__left">
            <a href="/" class="site-header__logo">
                {% include "logo.njk" %}
            </a>
        </div>
        <div class="site-header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
