
<ul class="photoGallery">

{%- for item in pagination.items %}
    <li class="photoGallery__item">
        <a href="/photos/{{item.slug}}/">
        {% image item.imageUrl, item.alt, "photo__image" %}
          
        </a>
        <p>{{ item.caption }}</p>
    </li>
{%- endfor %}

</ul>