
{% if quotes | length > 0 %}
  {% for quote in quotes | reverse %}
    <figure class="quote">
      <blockquote class="quote__block">
        <span>“</span>{{ quote.quote }}<span>”</span>
      </blockquote>
      {% if quote.link %}
        <figcaption class="quote__source">&mdash; <a href="{{ quote.link }}">{{ quote.source }}</a></figcaption>
      {% else %}
        <figcaption class="quote__source">&mdash; {{ quote.source }}</figcaption>
      {% endif %}
    </figure>
  {% endfor %}
{% else %}
  <p>There are no quotes yet.</p>
{% endif %}

