{% if collections.futureShows | length > 0 %}
  {% for show in collections.futureShows %}
      <article class="showlist__item">
        <h2 class="showlist__title">
          <a href="{{ show.url }}" class="postlist-link">{{ show.data.title }}</a>
        </h2>
        {% if show.data.subtitle %}<p class="showlist__subtitle">{{show.data.subtitle}}</p>{% endif %}
        <time 
          class="show__time" 
          datetime="{{ show.date | dateToFormat('yyyy-MM-dd t') }}"
          >
          {{ show.date | dateToFormat('dd LLL yyyy') }} &middot; {{ show.date | dateToFormat('t') }}
        </time>
      </article>
  {% endfor %}
{% else %}
  <div class="no-shows">
    <p>There are no upcoming shows to announce at the moment. <br>Check back later for good stuff.</p>
  </div>
{% endif %}