{% if collections.futureShows | length > 0 %}
  {% for show in collections.futureShows %}
      <article class="showlist__item">
        <a href="{{ show.url }}" class="postlist-link"><h2 class="showlist__title">{{ show.data.title }}</h2></a>
        <time 
          class="show__time" 
          datetime="{{ show.date | dateToFormat('yyyy-MM-dd t') }}"
          >
          {{ show.date | dateToFormat('dd LLL yyyy') }} &middot; {{ show.date | dateToFormat('t') }}
        </time>
      </article>
  {% endfor %}
{% else %}
  <div class="no-shows">
    <p>There are no upcoming shows to announce at the moment. <br>Check back later for good stuff.</p>
  </div>
{% endif %}