{% if shows | length > 0 %}
  {% for show in shows %}
      <article class="showlist__item">
        <h2 class="showlist__title">
          {{ show.title }}
        </h2>
        {% if show.subtitle %}<p class="showlist__subtitle">{{show.subtitle}}</p>{% endif %}
        <time 
          class="show__time" 
          datetime="{{ show.date | dateToFormat('yyyy-MM-dd t') }}"
          >
          {{ show.date | readableDate }} &middot; {{ show.date | readableTime }}
        </time>
          {% if show.url %}
            <a 
              class="button button--mini" 
              href="{{ show.url }}" 
              target="_blank" 
              rel="noopener noreferrer"
              >
              Tickets
            </a>
          {% endif %}
      </article>
  {% endfor %}
{% else %}
  <div class="no-shows">
    <p>There are no upcoming shows to announce at the moment. <br>Check back later for good stuff.</p>
  </div>
{% endif %}