<div class="social-icons">
  <a href="https://open.spotify.com/artist/1ZfM7DvQZdEvJ0nHBOzwKg?si=Sco6Wz10QZGbP1iuAyakNg&nd=1" title="Spotify">
    {% fortawesomeBrand 'spotify', "social-icon" %}
  </a>
  <a href="https://music.apple.com/gb/artist/pete-lambert/1656107024" title="Apple Music">
    {% fortawesomeBrand 'apple', "social-icon" %}
  </a>
  <a href="https://petelambertmusic.bandcamp.com" title="Bandcamp">
    {% fortawesomeBrand 'bandcamp', "social-icon" %}
  </a>
  <a href="https://www.instagram.com/" title="Instagram">
    {% fortawesomeBrand 'instagram', "social-icon" %}
  </a>
  <a href="https://www.facebook.com/" title="Facebook">
    {% fortawesomeBrand 'facebook', "social-icon" %}
  </a>
  <a href="https://www.tiktok.com/@petelambertmusic" title="TikTok">
    {% fortawesomeBrand 'tiktok', "social-icon" %}
  </a>
  <a href="https://www.youtube.com/@petelambert" title="Youtube">
    {% fortawesomeBrand 'youtube', "social-icon" %}
  </a>
</div>