<div class="social-icons">
  <a href="https://open.spotify.com/artist/1ZfM7DvQZdEvJ0nHBOzwKg?si=Sco6Wz10QZGbP1iuAyakNg&nd=1" aria-label="Spotify" title="Spotify">
    {% fortawesomeBrand 'spotify', "social-icon" %}
  </a>
  <a href="https://music.apple.com/gb/artist/pete-lambert/1656107024" aria-label="Apple Music" title="Apple Music">
    {% fortawesomeBrand 'apple', "social-icon" %}
  </a>
  <a href="https://petelambertmusic.bandcamp.com" aria-label="Bandcamp" title="Bandcamp">
    {% fortawesomeBrand 'bandcamp', "social-icon" %}
  </a>
  <a href="https://www.instagram.com/" aria-label="Instagram" title="Instagram">
    {% fortawesomeBrand 'instagram', "social-icon" %}
  </a>
  <a href="https://www.facebook.com/" aria-label="Facebook" title="Facebook">
    {% fortawesomeBrand 'facebook', "social-icon" %}
  </a>
  <a href="https://www.tiktok.com/@petelambertmusic" aria-label="TikTok" title="TikTok">
    {% fortawesomeBrand 'tiktok', "social-icon" %}
  </a>
  <a href="https://www.youtube.com/@petelambert" aria-label="Youtube" title="Youtube">
    {% fortawesomeBrand 'youtube', "social-icon" %}
  </a>
</div>