---
layout: photo
permalink: /photos/{{ photo.slug }}/index.html
pagination:
    data: photos
    size: 1
    alias: photo
---
<article class="photoGallery__item">
    <div>
        {% image item.imageUrl, item.alt, "photo__image" %}
        {{ photo.caption }}
    </div>
</article>
