// Main Site Layout

body {
	overflow-x: hidden;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	min-height: 100vh;
	position: relative;
}

.container {
	width: 100%;
	margin: 0 auto;
	// max-width: var(--container-max-width);
	padding: 8rem 1rem; // fallback
	padding: 4rem clamp(var(--spacing-medium), 3.75vw, var(--spacing-x-large));
	&--2 {
		background-color: var(--backgroundColor2);
	}
	&--constrained {
		max-width: var(--container-max-width);
	}
	&__content {
		max-width: 68ch;
		margin: 0 auto;
		&--wide {
			max-width: var(--container-max-width);
		}
	}
	&__title {
		margin-top: 0;
	}
}
