:root {
	--header-height: 6.5rem;
}

.site-header {
	background-color: var(--backgroundColor);
	border-bottom: 1px solid var(--borderColor);
	position: sticky;
	top: 0;
	&__container {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: var(--container-max-width);
		margin: 0 auto;
		padding: 0.5rem 1rem; // fallback
		padding: clamp(var(--spacing-x-small), 4vw, var(--spacing-x-large))
			clamp(var(--spacing-medium), 3.75vw, var(--spacing-x-large));
		position: relative;
		min-height: var(--header-height);
		font-size: var(--fluid-0);
	}
	&__logo {
		&:not(:hover, :focus) {
			color: var(--textColor);
		}
	}
}

.nav {
	transition: 0.5s ease-in-out;
}

.nav__menu {
	display: flex;
	font-size: var(--fluid-0);
	gap: 1rem;
	margin: 0;
}

.nav__link {
	display: block;
	font-family: var(--fontFamilyHeading);
	padding: 0.25em 0;
	text-transform: uppercase;
	text-decoration: none;
}

.nav__toggle__button {
	cursor: pointer;
	display: none;
	@media (max-width: 768px) {
		color: var(--primaryColor);
		display: flex;
		gap: 0.5rem;
		align-items: center;
		line-height: center;
		&:hover {
			color: var(--textColor);
		}
	}
}
@media screen and (max-width: 768px) {
	.nav__toggle__icon {
		position: relative;
		width: 20px;
		height: 2px;
		background-color: currentColor;
		display: block;
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
	}

	.nav__toggle__icon:after,
	.nav__toggle__icon:before {
		-webkit-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: currentColor;
	}

	.nav__toggle__icon:before {
		top: -5px;
	}

	.nav__toggle__icon:after {
		bottom: -5px;
	}

	.nav__toggle__input:checked + .nav__toggle__button .nav__toggle__icon {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.nav__toggle__input:checked + .nav__toggle__button .nav__toggle__icon:after {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		bottom: 0;
	}

	.nav__toggle__input:checked + .nav__toggle__button .nav__toggle__icon:before {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		top: 0;
	}

	.nav__toggle__input:not(:checked) ~ .nav {
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
	}
	.nav__toggle__input:checked ~ .nav {
		opacity: 1;
	}

	.nav {
		top: 0;
		right: 0;
		left: auto;
		position: absolute;
		transition: 0.25s ease-in-out 0s;
		transform: translateY(8.5rem);
		z-index: 200;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0;
	}
	.nav__menu {
		background: var(--backgroundColor);
		display: flex;
		flex-direction: column;
		gap: 0;
		width: 100%;
		padding: 1rem;
		text-align: right;
		.nav__link {
			font-family: var(--fontFamilyNav);
			padding-right: 1.5rem;
		}
	}
}
