.photoGallery {
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
	grid-template-rows: masonry;
}
.photoGallery__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	p:empty {
		display: none;
	}
}

.photoGallery__caption {
	padding: 0;
	margin: 0;
	text-align: left;
	color: var(--textColorSecondary);
}
