.showlist {
	ol[class] {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		padding: 0;
	}
}

.showlist__item {
	border-bottom: 1px solid var(--borderColor);
	padding-bottom: 2rem;
	text-align: center;
}

.show__title {
	font-size: var(--fluid-2);
	margin-bottom: 0;
}
.showlist__title {
	font-size: var(--fluid-1);
	margin-bottom: 0rem;
}
.show__image {
	border-radius: 0.25rem;
	display: block;
	margin: 1rem auto;
}

.showlist__item:has(a + time) h2 {
	margin-bottom: 1rem;
}

.no-shows {
	text-align: center;
}

.show__soldout {
	color: var(--primaryColor);
	text-transform: uppercase;
}

.show__meta {
	font-family: var(--fontFamilyHeading);
	display: block;
	text-align: center;
	margin-bottom: 0.5rem;
	margin-top: 0;
}

.show__tickets {
	background-color: var(--primaryColor);
	border-radius: 0.25rem;
	color: #fff;
	display: inline-flex;
	padding: 0.25rem;
	font-size: var(--fluid-0);
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	&:hover {
		background-color: var(--focusColor);
	}
}

.showlist__subtitle {
	margin: 0;
}
