:root {
	--fontFamilyHeading: 'Oswald', serif;
	--fontFamilyBody: 'Lora', system-ui, sans-serif;
	--fontFamilyQuote: 'Oswald', serif;
}

body {
	font-family: sans-serif;
}
.fonts-loaded-1 body {
	font-family: var(--fontFamilyBody);
}
.fonts-loaded-2 body {
	font-family: var(--fontFamilyBody);
}
