@import url('https://fonts.googleapis.com/css2?family=Alice&family=Fjalla+One&display=swap');

:root {
	--fontFamilyHeading: 'Fjalla One', sans-serif;
	--fontFamilyNav: 'Fjalla One', sans-serif;
	--fontFamilyBody: 'Alice', serif;
	--fontFamilyQuote: 'Alice', serif;
}

body {
	font-family: var(--fontFamilyBody);
}
