---
layout: base
permalink: /shows/{{ show.slug }}/index.html
eleventyComputed:
    title: "{{ show.title }} - Pete Lambert"
pagination:
    data: shows
    size: 1
    alias: show
---
<article> 
    <div class="container">
        <div class="container__content">
            <article class="show">
                <h2>
                    {% if soldout %}
                        <span class="show__soldout">Sold Out - </span>
                    {% endif %}
                    {{ title }}
                </h2>
                {% if subtitle %}
                    <h3>{{ subtitle }}</h3>
                {% endif %}
                <time class="show__time" datetime="{{ page.date | dateToFormat('yyyy-MM-dd t') }}">{{ page.date | dateToFormat('dd LLL yyyy') }} &middot; {{ page.date | dateToFormat('t') }}</time>
                {{ content | safe }}
                {% if url and not soldout %}
                    <div class="show__tickets"><a href="{{ urk }}" class="button button--primary">Buy Tickets</a></div>
                {% endif %}
            </article>
        </div>
</article>