---
layout: base
permalink: /shows/{{ show.slug }}/index.html
eleventyComputed:
    title: "{{ show.title }} - Pete Lambert"
pagination:
    data: shows
    size: 1
    alias: show
---
    <div class="container">
        <div class="container__content">
        <article class="show">
            <h1 class="show__title">
                {{ show.title }}
            </h1>
            {% if show.subtitle %}<p class="show__subtitle">{{show.subtitle}}</p>{% endif %}
            <p class="show__meta">
                {{ show.location }} &middot;
                <time 
                datetime="{{ show.date | dateToFormat('yyyy-MM-dd t') }}"
                >
                {{ show.date | readableDate }} &middot; {{ show.date | readableTime }}
                </time>
            </p>
            <div class="show__content">{{ show.body | markdownify | safe }}</div>
            {% if show.url %}
                <a 
                class="button button--mini" 
                href="{{ show.url }}" 
                target="_blank" 
                rel="noopener noreferrer"
                >
                Tickets
                </a>
            {% endif %}
        </article>
    </div>
