---
layout: base
title: Pete Lambert - Bio
eleventyNavigation:
  key: About
  order: 1
---

<div class="container" id="bio">
  <section class="container__content">
    {% include "bio.njk" %}
    {% include "social-icons.njk" %}
  </section>
</div>

