---
layout: base
title: Pete Lambert - Electronic Press Kit
---

<div class="container" id="bio">
  <section class="container__content">
    <h1 class="title">About Pete Lambert</h1>
    {% image "./src/assets/images/bio-image-2.webp", "Pete Lambert wistfully staring into the middle distance whilst playing guitar", "photo photo--16-9" %}
    <p>Pete Lambert is a singer-songwriter from York, UK. Taking influences from Folk, Americana and Country music, he sings songs about heartbreak, longing and whiskey.</p>
    <p>His subtle and emotional finger-style guitar, honest, personal lyrics and heartfelt performances stun audiences.</p>
    <p>An unabashed lover of the ‘sad song’ genre, Pete believes that the intense range of emotions that can be elicited by a song is a powerful thing. As a songwriter, getting those emotions onto paper and then out into the world through performance is one of the most gratifying and cathartic experiences. </p>
    <p>Yorkshire born and bred but with the soul of a broken cowboy, Pete straddles the Atlantic - which might sound far fetched but actually he has really long legs.</p>
    <p>Pete is currently recording his debut album, which will be released in late 2023.</p>
    {% include "social-icons.njk" %}
  </section>
</div>

<div class="container container--2" id="releases">
  <section class="container__content container__content--wide">
    <h1 class="title">Releases</h1>
    {% include "releaselist.njk" %}
  </section>
</div>

<div class="container" id="press">
  <section class="container__content">
    <h2 class="title">Press for Pete Lambert</h2>
    {% include "quoteslist.njk" %}
  </section>
</div>

<div class="container container--2">
  <section class="container__content">
    <h2 class="title">Videos</h2>
    {% include "videoslist.njk" %}
  </section>
</div>

<div class="container container--2" id="press">
  <section class="container__content container__content--wide">
    <h2 class="title">Photo Gallery</h2>
    {% include "photoslist.njk" %}
  </section>
</div>
