---
layout: base
title: Pete Lambert - Electronic Press Kit
---

<div class="container" id="bio">
  <section class="container__content">
    {% include "bio.njk" %}
    {% include "social-icons.njk" %}
  </section>
</div>

<div class="container container--2" id="releases">
  <section class="container__content container__content--wide">
    <h2 class="title">Releases</h2>
    {% include "releaselist.njk" %}
  </section>
</div>

<div class="container" id="press">
  <section class="container__content">
    <h2 class="title">Press for Pete Lambert</h2>
    {% include "quoteslist.njk" %}
  </section>
</div>

<div class="container container--2">
  <section class="container__content">
    <h2 class="title">Videos</h2>
    {% include "videoslist.njk" %}
  </section>
</div>

<div class="container container--2" id="press">
  <section class="container__content container__content--wide">
    <h2 class="title">Photo Gallery</h2>
    {% include "photoslist.njk" %}
  </section>
</div>
