---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container hero hero--homepage" id="hero">
  <section class="hero__content">
    <img src="/assets/images/things_cover.png" alt="Album Art: The Things I Think by Pete Lambert. A man sat on a chair playing guitar in a wasteland." class="hero__art">
    <div class="hero__text">
      <h1 class="title">The Things I Think</h1>
      <p>The new single by Pete Lambert</p>
      <a href="https://petelambert.bandcamp.com/album/the-things-i-think" class="button">Listen Now</a>
    </div>
  </section>
</div>

<div class="container" id="bio">
  <section class="container__content">
    <h1 class="title">About Pete Lambert</h1>
    <img src="/assets/images/bio-image-1.jpg" alt="Pete Lambert wistfully staring into the middle distance whilst playing guitar" class="photo">
    <p>Pete Lambert is a singer-songwriter from York, UK. Taking influences from Folk, Americana and Country music, he sings songs about heartbreak, longing and whiskey.</p>
    <p>His subtle and emotional finger-style guitar, honest, personal lyrics and heartfelt performances stun audiences.</p>
    <p>Yorkshire born and bred but with the soul of a broken cowboy, Pete straddles the Atlantic - which might sound far fetched but actually he has really long legs.</p>
    <p>Pete is currently recording his debut album, which will be released in 2023.</p>
  </section>
</div>

<div class="container container--2" id="press">
  <section class="container__content">
    <h1 class="title">Press for Pete Lambert</h1>
    <figure class="quote">
      <blockquote class="quote__block">
        ‘The Things I Think’ is a folk classic song in the making. We adore the stunning vocal performances, brilliant guitar work and relatable lyrics. This a release you do not want to miss!<span>”</span>
      </blockquote>
      <figcaption class="quote__source">— FV Music Blog</figcaption>
    </figure>

    <figure class="quote">
      <blockquote class="quote__block">
        [The Things I Think is] very poignant. Quite lovely too.<span>”</span>
      </blockquote>
      <figcaption class="quote__source">— Jericho Keys - BBC Introducing</figcaption>
    </figure>

    <figure class="quote">
      <blockquote class="quote__block">
        Pete lays it all out there with his lyrics and we get just the right amount of light and dark<span>”</span>
      </blockquote>
      <figcaption class="quote__source">— York Calling</figcaption>
    </figure>

    <figure class="quote">
      <blockquote class="quote__block">
        Pete lays it all out there with his lyrics and we get just the right amount of light and dark<span>”</span>
      </blockquote>
      <figcaption class="quote__source">— York Calling</figcaption>
    </figure>

    <figure class="quote">
      <blockquote class="quote__block">
        Beautiful, that<span>”</span>
      </blockquote>
      <figcaption class="quote__source">— Richard Hardcastle - Dickie &amp; Dan's Americana Show</figcaption>
    </figure>

    <figure class="quote">
      <blockquote class="quote__block">
        ‘The Things I Think’ is a folk classic song in the making. We adore the stunning vocal performances, brilliant guitar work and relatable lyrics. This a release you do not want to miss!<span>”</span>
      </blockquote>
      <figcaption class="quote__source">— Various Small Flames</figcaption>
    </figure>
  </section>
</div>
