---
layout: base
---

<div class="container hero hero--homepage" id="hero">
  <section class="hero__content">
    <a href="https://open.spotify.com/track/44yFoN2Zx34JuQZDFCt2Zq?si=3e078b87263241e3">
      <img src="/assets/images/things_cover.png" alt="Album Art: The Things I Think by Pete Lambert. A man sat on a chair playing guitar in a wasteland." class="hero__art">
    </a>
    <div class="hero__text">
      <p><a href="https://open.spotify.com/track/44yFoN2Zx34JuQZDFCt2Zq?si=3e078b87263241e3" class="button">Listen Now</a></p>
    </div>
  </section>
</div>

<div class="container" id="bio">
  <section class="container__content">
    <h1 class="title">About Pete Lambert</h1>
    <img src="/assets/images/bio-image-1.webp" alt="Pete Lambert wistfully staring into the middle distance whilst playing guitar" class="photo">
    <p>Pete Lambert is a singer-songwriter from York, UK. Taking influences from Folk, Americana and Country music, he sings songs about heartbreak, longing and whiskey.</p>
    <p>His subtle and emotional finger-style guitar, honest, personal lyrics and heartfelt performances stun audiences.</p>
    <p>Yorkshire born and bred but with the soul of a broken cowboy, Pete straddles the Atlantic - which might sound far fetched but actually he has really long legs.</p>
    <p>Pete is currently recording his debut album, which will be released in 2023.</p>
  </section>
</div>

<div class="container container--2" id="press">
  <section class="container__content">
    <h1 class="title">Press for Pete Lambert</h1>
    {% include "quoteslist.njk" %}
  </section>
</div>

<div class="container container" id="press">
  <section class="container__content">
    <h1 class="title">Upcoming Shows</h1>
    {% include "showslist.njk" %}
  </section>
</div>
