---
layout: base
permalink: /shows/
eleventyNavigation:
  key: Shows
  order: 3
---
<div class="container hero hero--homepage" id="hero">
  <heading class="container__content">
    <h1>Upcoming Shows</h1>
  </heading>
</div>

<div class="container">
  <section class="container__content">
    {% set showslist = collections.shows %}
    {% include "showslist.njk" %}
  </section>
</div>

