---
layout: base
permalink: /shows/
eleventyNavigation:
  key: Shows
  order: 3
---

<div class="container">
  <section class="container__content">
    <h1>Upcoming Shows</h1>
    {% set showslist = collections.shows %}
    {% include "showslist.njk" %}
  </section>
</div>

