<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% include "meta.njk" %}
    
	<link rel="stylesheet" href="/assets/css/main.scss">
</head>
<body>
    <a href="#main" class="skiplink">Skip to main content</a>

    <div class="layout" role="document">
        {% include "header.njk" %}
        <main id="main" class="main">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}

				<script>
				window.addEventListener('load', (event) => {
				  document.querySelectorAll('a').forEach(item => {
				    item.addEventListener('click', event => {
				      let linkUrl = new URL(item.getAttribute('href'), window.location.href); // Using the second argument to handle relative URLs
				      let currentHostname = window.location.hostname;
				 
				      if (linkUrl.hostname !== currentHostname) { // If the link's hostname is different from the current page's hostname
				        let domainParts = linkUrl.hostname.split('.');
				        let domainName = domainParts.length > 1 ? domainParts[domainParts.length - 2] : domainParts[0];
				 
				        fathom.trackEvent(`External link clicked: ${domainName}`);
				      }
				    });
				  });
				});
				</script>
    </div>
</body>
</html>
