<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% include "meta.njk" %}
    
	<link rel="stylesheet" href="/assets/css/main.scss">

	<!-- Fathom - beautiful, simple website analytics --> <script src="https://cdn.usefathom.com/script.js" data-site="XJLGKNGI" defer></script> <!-- / Fathom --> 
</head>
<body>
    <a href="#main" class="skiplink">Skip to main content</a>

    <div class="layout" role="document">
        {% include "header.njk" %}
        <main id="main" class="main">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </div>
</body>
</html>
