---
layout: base
---
<article class="container">
    <div class="container__content">
        <h1>{{ title }}</h1>
        {{ content | safe }}
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </div>
</article>